.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px); /* calculate height of the screen minus the heading */
  }
  
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .watermark {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 999;
  } 
  .smartmark {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    width: auto;
  }  
  .smartmark .icon {
    height: 40px;
    width: auto;
  }